.root{
    -fx-background-color: black;
    -fx-border-color: greenyellow;
    -fx-border-width: 10;
}
#ps-label{
    -fx-font-size: 40;
    -fx-text-fill: greenyellow;
}
#ps-buttons .button{
    -fx-pref-width: 200;
    -fx-pref-height: 10;
    -fx-background-color: black;
    -fx-border-color: greenyellow;
    -fx-border-width: 4;
    -fx-text-fill: white;
}
#ps-buttons .button:hover{
    -fx-border-color: black;
}
#music-toggle{
    -fx-border-color: greenyellow;
    -fx-border-width: 4;
    -fx-background-color: black;
    -fx-text-fill: #57cfcf;
}

