.root{
    -fx-background-color: black;
    -fx-border-color: greenyellow;
    -fx-border-width: 10;
}
.user-pass{
    -fx-font-size: 20;
    -fx-text-fill: greenyellow;
}
.login-button{
    -fx-background-color: lawngreen;
}
.success{
    -fx-text-fill: limegreen;
    -fx-font-size: 20;
}
.fail{
    -fx-text-fill: red;
    -fx-font-size: 20;
}
