.root{
    -fx-background-color: black;
    -fx-border-color: greenyellow;
    -fx-border-width: 10;
}
.button{
    -fx-border-color: greenyellow;
    -fx-background-color: black;
    -fx-text-fill:greenyellow;
    -fx-font-size: 20;
}
.button:disabled{
    -fx-opacity: 1.0;
}
.label{
    -fx-label-padding: 20;
    -fx-text-alignment: center;
    -fx-font-size: 40;
    -fx-text-fill: greenyellow;
}
